# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover

# Android project
android/Food4All/*.iml
android/Food4All/.gradle
android/Food4All/local.properties
android/Food4All/.DS_Store
android/Food4All/build
android/Food4All/captures
android/Food4All/.externalNativeBuild
android/Food4All/.idea/
# android/Food4All/build.gradle
android/Food4All/gradle
android/Food4All/gradle.properties
android/Food4All/settings.gradle