<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoodForAll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A454A0DC1DED9A1100F7601F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A454A0F31DED9A1100F7601F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A454A0FE1DED9A1100F7601F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
